.dropdown_list {
	background: #ffffff;
	border: 1px solid #868686;
	height: 210px;
	overflow: auto;
	position: absolute;
	display: none;
	opacity: 0.9;
}

.dropdown_listitem {
	display: block;
	padding: 10px;
	height: 10px;
	cursor: pointer;
}
.dropdown_listitem:hover, .dropdown_selected {
	background-color: #dedede;	
}

.dropdown_sparkline {
	float: left;
	margin-top: -2px;
}

.dropdown_text {
	float: left;
	margin-top: -12px;
	padding-left: 10px;
	width: 90px;
	height: 30px;
	font-size: 11px;
}

.dropdown_layer {
	position: absolute;
}
