

div.comfirm { width: 71px; height: 13px; background-image: url(../img/comfirm.png); margin-top: 0px; }
div.comfirm:hover { background-image: url(../img/comfirm_2.png); }

div.tabs { display: none; width: 100%; height: 30px; padding-top: 2px; padding-left: 200px; background-color: #ededed; border-bottom: 0px solid #cdcdcd; margin-bottom: 30px; overflow: hidden; }
div.sidebar { width: 250px; margin: 0 auto; background-color: #f8f8f8; border: 0px solid #cdcdcd; overflow: auto; overflow-x: hidden; overflow-y: auto; }
div.sidebar_inner { width: 100%; height: 100%; padding-top: 0px; margin-top: 0px; }
div.mainarea { width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; background-color: none; }
div.buttonpanel { dsiplay: none; width: 100%; height: 49px; background-color: #ededed; z-index: 500; }
div.footer { width: 100%; height: 100px; background-color: #ededed; border-top: 1px solid #cdcdcd; text-align: left; }
div.mainframe { padding: 10px; background-color: #ededed; min-height: 600px; }
div.locker { display: none; width: 100%; height: 100%; background-color: #fff; opacity: 0.5; position: fixed; left: 0px; top: 0px; z-index: 990; }

/* settings */
div.settings { 
	display: none; width: 100%; height: 500px; background-color: #000; border-bottom: 3px solid #000; opacity: 0.9; color: #f8f8f8; position: fixed; top: 0px; left; 0px; z-index: 1000;
	background-image: linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -o-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -moz-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -webkit-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -ms-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #121416),
		color-stop(1, #363637)
	);
}
div.settings_close { height: 16px; width: 16px; top: 437px; position: relative; right: 30px; background-image: url(../img/settings-close.png); background-repeat: no-repeat; background-position: center center; float: right; cursor: pointer; }
div.settings_inner { width: 1090px; margin-top: 30px; text-align: left; }
div.settings_label { height: 25px; margin-bottom: 20px; font-size: 14px; line-height: 25px; color: #f8f8f8; }
div.settings_addnew { height: 25px; width: 18px; margin-right: 0px; background-image: url(../img/icon_plus.png); background-repeat: no-repeat; background-position: left center; float: left; }
div.settings_addnew:hover { background-position: right center; cursor: pointer; }

div.settings_list_item { 
	position: relative;
	width: 100%; 
	height: 30px; 
	margin-bottom: 2px; 
	color: #f8f8f8; 
	border: 1px solid #222;
	border-radius: 3px; 
	-moz-border-radius: 3px;
	width: 230px;
}
div.settings_list_item:hover { background-color: #000; cursor: pointer; border: 1px solid #222; }
div.settings_list_item_a:hover { border: 1px solid #13b5d8; }
div.settings_list_item_a { 
	position: relative;
	background-color: #13b5d8;
	border: 1px solid #13b5d8;
	border-radius: 3px; -moz-border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(41,199,243)),
		color-stop(1, rgb(126,236,255))
	);
	width: 230px;
}
div.settings_list_item_icon { height: 30px; width: 30px; margin-left: 15px; background-repeat: no-repeat; background-position: center center; float: left; clear: right; }
div.settings_list_item_del { display: none; height: 30px; width: 30px; margin-right: 0px; background-image: url(../img/icon_del.png); background-repeat: no-repeat; background-position: center center; float: right; }
div.settings_list_item:hover div.list_item_del { display: block; }
div.settings_list_item_text { line-height: 30px; padding: 6px; padding-left: 3px; padding-top: 0px; padding-bottom: 0px; font-size: 14px; text-align: left; float: left; }

#token_list { height: 338px; overflow: auto; }

select.settings_select { background-color: #000; color: #f8f8f8; border: none; }
.settings_frame { padding: 12px; margin-bottom: 20px; padding-right: 24px; background-color: #000; border: 1px solid #000;
	border-radius: 4px; -moz-border-radius: 4px;
}
.f_settings_a { background-color: #bfeef7; }

/* layout */
.ui-layout-resizer { background-color: #ededed; }
.ui-layout-resizer-west { background-color: #cdcdcd; }
.ui-layout-resizer-west-closed { background-color: #ededed; }
.ui-layout-toggler-west-open { display: none; height: 0px; }
.ui-layout-toggler-west-closed { display: none; height: 0px; }

div.topbar { width: 100%; height: 5px; background-color: #2ed5f5; position: fixed; top: 0px; z-index: 14; }
div.logo { width: 130px; height: 61px; background-image: url(../img/logo.png); margin-top: 0px; }
div.header_logo { width: 156px; height: 40px; background-image: url(../img/amail-logo.png); background-repeat: no-repeat; background-position: left center; margin-left: 15px; float: left; clear: right; }

/* sidebar menu */
div.btn-sidebar { width: 25px; height: 35px; margin-right: 8px; background-image: url(../img/icon_sidebar.png); background-repeat: no-repeat; background-position: left center; float: right; }
div.btn-sidebar:hover { background-position: right center; cursor: pointer; }
div.btn-sidebar_closed { background-image: url(../img/icon_sidebar_2.png); }
div.btn-new { width: 31px; height: 35px; margin-left: 8px; background-image: url(../img/icon_new.png); background-repeat: no-repeat; background-position: left center; float: left; }
div.btn-new:hover { background-position: right center; cursor: pointer; }
div.btn-new_a { background-image: url(../img/icon_new_2.png); }

div.new-menu { display: none; min-width: 180px; padding: 2px; position: fixed; left: 20px; top: 72px; color: #f8f8f8; background-color: #222; opacity: 1; z-index: 999;
	border-radius: 2px; -moz-border-radius: 2px;
	-moz-box-shadow: 1px 1px 5px #222; -webkit-box-shadow: 1px 1px 5px #222; box-shadow: 1px 1px 5px #222;
	background-image: linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -o-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -moz-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -webkit-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -ms-linear-gradient(bottom, #121416 0%, #363637 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #121416),
		color-stop(1, #363637)
	);
}
div.new-menu_caption { height: 32px; font-size: 14px; line-height: 32px; padding-left: 12px; margin-bottom: 7px; color: #222;
	background-image: linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ededed),
		color-stop(1, #f8f8f8)
	);
}
div.new-menu_icon { width: 30px; height: 30px; background-repeat: no-repeat; background-position: center center; float: left; clear: right; }
div.new-menu_text { height: 30px; font-size: 14px; line-height: 30px; padding: 0px 12px 0px 6px; float: left; }
div.new-menu_item { height: 30px; }
div.new-menu_item:hover { color: #f8f8f8; cursor: pointer;
	border: 0px solid #13b5d8;
	border-radius: 3px; -moz-border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(41,199,243)),
		color-stop(1, rgb(126,236,255))
	);
}

div.tools { width: 100%; position: fixed; z-index: 12; }
div.topbar_logout { display: none; height: 5px; margin-top: -5px; background-color: #2ed5f5; z-index: 100; }
div.logout { width: 47px; height: 30px; background-image: url(../img/logout.png); margin-top: 0px; float: right; }
div.tools:hover div.logout { background-image: url(../img/logout_2.png); cursor: pointer; }
div.tools:hover div.topbar_logout { display: block; }
div.logout_help { width: 90px; height: 50px; background-image: url(../img/logout_help.png); margin-top: 0px; margin-right: 52px; float: right; }
div.menu_help { width: 176px; height: 30px; background-image: url(../img/menu_help.png); margin-top: 0px; margin-right: 52px; float: left; }
div.stamp-bottom { width: 100%; height: 20px; padding-top: 0px; background-image: url(../img/stamp.png); background-repeat: repeat-x; background-position: bottom; background-color: none; }

div.s_topmenu { height: 35px; background-color: #ededed; border-bottom: 1px solid #cdcdcd;
	background-image: linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ededed),
		color-stop(1, #f8f8f8)
	);
}
div.s_header { width: 100%; height: 35px; background-color: #ededed; border-bottom: 1px solid #cdcdcd;
	background-image: linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ededed),
		color-stop(1, #f8f8f8)
	);
}
div.s_header:hover { cursor: pointer;
	background-image: linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -o-linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -moz-linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -webkit-linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -ms-linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #f8f8f8),
		color-stop(1, #ededed)
	);
}
div.s_menu { width: 100%; height: 37px; background-color: #ededed; border-bottom: 1px solid #cdcdcd;
	/*background-image: linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ededed),
		color-stop(1, #f8f8f8)
	);*/
 }
div.s_button { width: 60px; height; 25px; line-height: 25px; margin-top: 5px; margin-right: 6px; padding: 6px; padding-top: 0px; padding-bottom: 0px; background-color: #2ed5f5; color: #f8f8f8; float: right; font-weight: 600; text-align: center;
	border: 1px solid #13b5d8;
	border-radius: 3px; -moz-border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(41,199,243)),
		color-stop(1, rgb(126,236,255))
	);
}
div.s_button:hover { 
	border: 1px solid #13b5d8;
	text-shadow: none;
	background-image: linear-gradient(bottom, rgb(126,236,255) 30%, rgb(41,199,243) 100%);
	background-image: -o-linear-gradient(bottom, rgb(126,236,255) 30%, rgb(41,199,243) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(126,236,255) 30%, rgb(41,199,243) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(126,236,255) 30%, rgb(41,199,243) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(126,236,255) 30%, rgb(41,199,243) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(126,236,255)),
		color-stop(1, rgb(41,199,243))
	);
}
div.s_button:hover { cursor: pointer; background-color: #222; }
div.s_header_text { height: 35px; line-height: 35px; padding-left: 0px; font-size: 14px; text-align: left; font-weight: 400; text-shadow: 0px 1px 0px #fff; float: left; clear: right; }
div.s_header_icon { height: 35px; width: 35px; background-repeat: no-repeat; background-position: center center; float: left; clear: right; }
div.s_header_icon2 { height: 35px; width: 14px; margin-right: 10px; background-image: url(../img/icon_open.png); background-repeat: no-repeat; background-position: left center; float: right; }
div.s_header_icon2:hover { background-position: right center; }
div.s_icon_close { background-image: url(../img/icon_close.png); }
div.s_main { width: 100%; border-bottom: 1px solid #cdcdcd; }
div.s_main_inner { width: 100%; min-height: 30px; padding-left: 0px; padding-top: 0px; }

div.tab { min-width: 100px; height: 30px; margin-right: 6px; background-color: #fff; float: left;
	border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; 
	-moz-box-shadow: 0px 0px 2px #737373; -webkit-box-shadow: 1px 1px 5px #737373; box-shadow: 1px 1px 5px #737373;
}
div.tab:hover { cursor: pointer; 
	background-image: linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #f8f8f8 0%, #ededed 100%);
	background-image: -webkit-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -ms-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ececec),
		color-stop(1, #fff)
	);
}
div.tab_text { padding-left: 20px; padding-right: 20px; padding-top: 7px; }

div.menu_wrapper { height: 0px; display: block; padding-top: 2px; margin-right: 0px; float: left; }
div.menu_item { height: 30px; background-color: #cdcdcd; font-size: 13px; color: #222222; font-weight: 400; margin-right: 15px; float: left; clear: right; border: 1px solid #cdcdcd; 
	text-shadow: 0px 1px 0px #fff;	
	border-radius: 4px; -moz-border-radius: 4px;
	background-image: linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -ms-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #d7d7d7),
		color-stop(1, #fff)
	);
}
div.menu_item:hover { color: #222222; border-color: #cdcdcd;
	text-shadow: 0px 1px 0px #fff;
	background-image: linear-gradient(bottom, #fff -50%, #d7d7d7 200%);
	background-image: -o-linear-gradient(bottom, #fff -50%, #d7d7d7 200%);
	background-image: -moz-linear-gradient(bottom, #fff -50%, #d7d7d7 200%);
	background-image: -webkit-linear-gradient(bottom, #fff -50%, #d7d7d7 200%);
	background-image: -ms-linear-gradient(bottom, #fff -50%, #d7d7d7 200%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #fff),
		color-stop(1, #d7d7d7)
	);
}
div.menu_item_a { color: #fff; background-color: #2ed5f5; border-color: #13b5d8;
	text-shadow: none;
	background-image: linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(41,199,243) 30%, rgb(126,236,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(41,199,243)),
		color-stop(1, rgb(126,236,255))
	);
}
div.menu_text { padding: 16px; padding-top: 8px; padding-bottom: 0px; }

div.c { min-width: 276px; min-height: 200px; margin-right: 20px; float: left; clear: right; }
div.c_x2 { min-width: 640px; width: 100%; margin-right: 10px; }
div.col { min-height: 600px; float: left; clear: right; }
div.col-1 { width: 386px; margin-right: 20px;}
div.col-2 { width: 386px; margin-right: 20px;}
div.col-3 { width: 386px; }

div.widget { width: 100%; min-height: 20px; background-color: none; border: 0px solid #cdcdcd;
	/* -moz-box-shadow: 1px 1px 5px #737373; -webkit-box-shadow: 1px 1px 5px #737373; box-shadow: 1px 1px 5px #737373;
	border-radius: 5px; -moz-border-radius: 5px; */
}
div.w_disable { opacity: 0.3; }
div.w_header { width: 100%; height: 35px; background-color: #ededed;
	background-image: linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #ededed 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ededed),
		color-stop(1, #f8f8f8)
	);
	/* border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; */
}
div.legend { width: 10px; height: 10px; margin-top: 12px; margin-left: 25px; margin-right: 10px; float: left; border-radius: 5px; -moz-border-radius: 5px; }
div.legend_text { height: 35px; line-height: 35px; font-size: 10px; float: left; }
div.w_header_icon { height: 35px; width: 30px; background-repeat: no-repeat; background-position: center center; float: left; clear: right; }
div.w_header_text { line-height: 35px; padding-left:  8px; font-size: 16px; text-align: left; font-weight: 400; float: left; }
div.w_menu { width: 100%; height: 0px; background-color: #ececec; border: 0px solid #fff;
	background-image: linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -ms-linear-gradient(bottom, #ececec 0%, #fff 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ececec),
		color-stop(1, #fff)
	);
}
div.w_main { width: 100%; min-height: 130px; margin-bottom: 0px; background-color: #f8f8f8; border: 0px solid #fff; border-top: 1px solid #cdcdcd; text-align: left;
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
}
div.wmain_light { background-color: #f8f8f8; }
div.w_main_inner { padding: 6px; padding-bottom: 4px; }
div.w_main_inner2 { padding: 12px; padding-bottom: 20px; }	
div.wcolor_gray { color: #4a4a4a; text-shadow: 0px 1px 0px #fff; border: 0px solid #fff;
	/* background-image: linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #ededed 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -ms-linear-gradient(bottom, #d7d7d7 0%, #fff 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #d7d7d7),
		color-stop(1, #fff)
	); */
}
div.wcolor_light { color: #f8f8f8; text-shadow: 0px 1px 0px #fff; border: 0px solid #fff;
	background-image: linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -ms-linear-gradient(bottom, #f8f8f8 0%, #fff 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #f8f8f8),
		color-stop(1, #fff)
	);
}
div.w_buttonarea { width: 100%; height: 60px; background-color: #ededed; border-top: 1px solid #cdcdcd; 
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
}
div.w_buttonarea_inner { margin: 10px; }

div.list_item { width: 100%; height: 30px; margin-bottom: 2px; }
div.list_item:hover { background-color: #ededed; cursor: pointer; }
div.list_item_a { background-color: #ededed; }
div.list_item_icon { height: 30px; width: 30px; margin-left: 15px; background-repeat: no-repeat; background-position: center center; float: left; clear: right; }
div.list_item_del { display: none; height: 30px; width: 30px; margin-right: 0px; background-image: url(../img/icon_del.png); background-repeat: no-repeat; background-position: center center; position: absolute; left: 100%; margin-left: -30px; }
div.list_item_edit { display: none; height: 30px; width: 30px; margin-right: 0px; background-image: url(../img/icon_edit.png); background-repeat: no-repeat; background-position: center center; position: absolute; left: 100%; margin-left: -50px; }
div.list_item:hover div.list_item_del { display: block; }
div.list_item:hover div.list_item_edit { display: block; }
div.list_item_text { height: 30px; line-height: 30px; padding: 6px; padding-left: 3px; padding-top: 0px; padding-bottom: 0px; font-size: 14px; text-align: left; float: left; overflow: hidden; }

span.spark_text { margin-left: 45px; }
span.dynamicsparkline { margin-left: 15px; margin-right: 10px; margin-top: 8px; position: absolute; width: 15px; }

/* icons */
div.icon_doc { background-image: url(../img/icon_doc.png); }
div.icon_tpl { background-image: url(../img/icon_tpl.png); }
div.icon_stats { background-image: url(../img/icon_stats.png); }
div.icon_sign { background-image: url(../img/icon_sign.png); }
div.icon_key { background-image: url(../img/icon_key.png); }
div.icon_24h { background-image: url(../img/icon_24h.png); }
div.icon_30d { background-image: url(../img/icon_30d.png); }
div.icon_live { background-image: url(../img/icon_live.png); }
div.icon_links { background-image: url(../img/icon_links.png); }
div.icon_bounce { background-image: url(../img/icon_bounce.png); }

iv.icon_doc_l { background-image: url(../img/icon_doc_l.png); }
div.icon_tpl_l { background-image: url(../img/icon_tpl_l.png); }
div.icon_stats_l { background-image: url(../img/icon_stats_l.png); }
div.icon_sign_l { background-image: url(../img/icon_sign_l.png); }
div.icon_settings_l { background-image: url(../img/icon_settings_l.png); }
div.icon_logout_l { background-image: url(../img/icon_logout_l.png); }

.w_placeholder { border: 1px dashed #222222; visibility: visible !important; height: 250px !important; margin-bottom: 20px; background-color: #dedede; opacity: 0.3; }
.w_placeholder * { visibility: hidden; }
div.ui-sortable-helper { -moz-box-shadow: 6px 6px 20px #8c8c8c; -webkit-box-shadow: 6px 6px 20px #8c8c8c; box-shadow: 6px 6px 20px #8c8c8c; }

div.cnt { height: 77px; background-image: url(../img/counter-sprite.png); background-repeat: none; }
div.cnt_c { float: left; clear: right; background-position: -6px -49px; }
div.cnt_l { width: 6px; float: left; clear: right; background-position: 0px -49px; }
div.cnt_r { width: 6px; float: left; clear: right; background-position: -401px -49px; }
div.cnt_numbers { width: 100%; height: 44px; margin-bottom: 15px; }
div.cnt_caption { width: 100%; text-align: center; font-family: Verdana, Sans, Arial, Verdana; font-size: 11px; color: #222222; font-weight: bold; text-transform:uppercase; }

div.num { width: 38px; height: 44px; margin-top: 7px; float: left; clear: right; }
div.num_last { width: 40px; }
div.num_top { width: 100%; height: 22px; background-image: url(../img/counter-sprite.png); background-repeat: none; }
div.num_bottom { width: 100%; height: 22px; background-image: url(../img/counter-sprite.png); background-repeat: none; }
div.num_0n { background-position: -12px 0px; }
div.num_0s { background-position: -12px -22px; }
div.num_1n { background-position: -50px 0px; }
div.num_1s { background-position: -50px -22px; }
div.num_2n { background-position: -88px 0px; }
div.num_2s { background-position: -88px -22px; }
div.num_3n { background-position: -126px 0px; }
div.num_3s { background-position: -126px -22px; }
div.num_4n { background-position: -164px 0px; }
div.num_4s { background-position: -164px -22px; }
div.num_5n { background-position: -202px 0px; }
div.num_5s { background-position: -202px -22px; }
div.num_6n { background-position: -240px 0px; }
div.num_6s { background-position: -240px -22px; }
div.num_7n { background-position: -278px 0px; }
div.num_7s { background-position: -278px -22px; }
div.num_8n { background-position: -316px 0px; }
div.num_8s { background-position: -316px -22px; }
div.num_9n { background-position: -354px 0px; }
div.num_9s { background-position: -354px -22px; }

.map { background-image: url(../img/map.png); }

.alert {
	border-radius: 2px; -moz-border-radius: 2px;
	-moz-box-shadow: 1px 1px 5px #222; -webkit-box-shadow: 1px 1px 5px #222; box-shadow: 1px 1px 5px #222;
	z-index: 999;
	position: fixed; 
	width: 500px;
	z-index: 10000; 
	display: none; 
	border: 1px solid #dedede;
}

#html_design {
	width: 100%;
}

#html_design_frame {
	width: 100%; 
	height: 210px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	border: 1px solid #CFCFCF; 
	border-radius: 3px 3px 3px 3px; 
}

#html_source {
	width: 100%;
	display: none;
}

#html_preview {
	width: 100%; 
	display: none;
}

#html_preview_frame {
	width: 100%; 
	height: 210px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	border: 1px solid #CFCFCF; 
	border-radius: 3px 3px 3px 3px; 
}

.CodeMirror {
	border: 1px solid #CFCFCF; 
	border-radius: 3px 3px 3px 3px;
	font-size: 14px;
}

.small_tab {
	float: left;
	padding: 4px; 
	border: 1px solid #dedede; 
	border-top: 0px; 
	cursor: pointer;
	
	background-color: #EDEDED;
	background-image: -moz-linear-gradient(center bottom , #F8F8F8 0%, #EDEDED 100%);
	border-color: #CDCDCD #CDCDCD #CDCDCD #CDCDCD -moz-use-text-color;
	border-style: solid solid solid solid;
}

.small_tab_active {
	background-image: -moz-linear-gradient(center bottom , #EDEDED 0%, #F8F8F8 100%);
	
	color: #222222;
	cursor: default;
	font-weight: bold;
}

.hdr_btn {
	cursor: pointer;
	margin-left: 11px;
	padding-right: 9px;
}

.hdr_btn_active {
	background-color: #EDEDED;
	margin-left: 10px;
	padding-right: 8px;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}


.alert2 {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-image: initial;
}

.alert2 a {
	text-decoration: underline;
	float: right;
}

.alert-danger, .alert-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.alert-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}