<?xml version="1.0"?>
<config>
	<modules>
		<Comfirm_AlphaMail>
			<version>1.5.2</version>
		</Comfirm_AlphaMail>
	</modules>
	<frontend>
    		<routers>
      			<alphamail>
  				  	<use>standard</use>
					<args>
						<module>Comfirm_AlphaMail</module>
						<frontName>alphamail</frontName>
					</args>
      			</alphamail>
    		</routers>
  	</frontend>
	<global>
		<helpers>
			<alphamail><class>Comfirm_AlphaMail_Helper</class></alphamail>
		</helpers>
		<blocks>
			<alphamail>
				<class>Comfirm_AlphaMail_Block</class>
			</alphamail>
		</blocks>
		<models>
            <alphamail>
                <class>Comfirm_AlphaMail_Model</class>
				<resourceModel>alphamail_mysql4</resourceModel>
            </alphamail>
			<alphamail_mysql4>
                <class>Comfirm_AlphaMail_Model_Mysql4</class>
                <entities>
                    <event_log><table>alphamail_event_log</table></event_log>
                    <send_log><table>alphamail_send_log</table></send_log>
                    <project_map><table>alphamail_project_map</table></project_map>
                </entities>
            </alphamail_mysql4>
			<core>
				<rewrite>
					<email_template>Comfirm_AlphaMail_Model_Email_Template</email_template>
				</rewrite>
			</core>
		</models>
		<resources>
			<alphamail_setup>
				<setup>
					<module>Comfirm_AlphaMail</module>
					<class>Comfirm_AlphaMail_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alphamail_setup>
			<alphamail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alphamail_write>
            <alphamail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alphamail_read>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<alphamail>
					<file>alphamail.xml</file>
				</alphamail>
			</updates>
		</layout>
	    <menu>
            <system>
                <children>
                    <alphamail>
                        <title>AlphaMail</title>
                        <children>
                            <projectmapping translate="title" module="alphamail">
                                <title>Project Mapping</title>
                                <action>alphamail/ProjectMapping</action>
                            </projectmapping>
                            <configuration translate="title" module="alphamail">
                                <title>Configuration</title>
                                <action>adminhtml/system_config/edit/section/alphamail</action>
                            </configuration>
                            <logging translate="title" module="alphamail">
                                <title>System Logs</title>
                                <children>
                                    <sendlog translate="title" module="alphamail">
                                        <title>Send Log</title>
                                        <action>alphamail/SendLog</action>
                                    </sendlog>
                                    <errorlog translate="title" module="alphamail">
                                        <title>Event Log</title>
                                        <action>alphamail/EventLog</action>
                                    </errorlog>
                                </children>
                            </logging>
                            <dashboard translate="title" module="alphamail">
                                <title>» Login to Dashboard »</title>
                                <action>alphamail/SingleSignOn</action>
                                <children>
                                	<signatures translate="title" module="alphamail">
		                                <title>Signatures</title>
		                                <action>alphamail/SingleSignOn/signatures</action>
		                            </signatures>
		                            <tokens translate="title" module="alphamail">
		                                <title>Tokens</title>
		                                <action>alphamail/SingleSignOn/tokens/</action>
		                            </tokens>
		                            <settings translate="title" module="alphamail">
		                                <title>Settings</title>
		                                <action>alphamail/SingleSignOn/settings/</action>
		                            </settings>
                                </children>
                            </dashboard>
                        </children>
                    </alphamail>
                </children>
            </system>
        </menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<alphamail>
											<title>AlphaMail Email Settings</title>
										</alphamail>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<alphamail>
			<general>
				<activated>0</activated>
			</general>
			<authentication>
				<ssl>0</ssl>
				<token></token>
			</authentication>
			<debugging>
				<debug_mode>0</debug_mode>
				<logging_mode>0</logging_mode>
			</debugging>
			<system>
				<primary_address>api.amail.io,api.fb1.amail.io,api.fb2.amail.io,api.fb3.amail.io,api.fb4.amail.io,api.fb5.amail.io</primary_address>
				<fallback_mode>native</fallback_mode>
				<number_of_retries>3</number_of_retries>
			</system>
		</alphamail>
	</default>
</config>
